DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_WEBHOOK_URL_1=
DISCORD_WEBHOOK_URL_3=
GOOGLE_API_KEY=
MESSAGE_LOGS=
OPENROUTER_API_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
START_DISCORD_BOT=true
DISCORD_OWNER_ID=
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
